name: Test workflow

# Definition when the workflow should run

on:
  workflow_dispatch:

# Jobs to be executed

jobs:

 environment-setup:
  
    name: environment-setup
    runs-on: ubuntu-latest
    
    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v3
      - name: 'Install Salesforce CLI'
        run: |
            npm install sfdx-cli -g
      - name: 'check version'
        run: |
            sfdx --version
      - name: 'check if scratch org exists or not'
        run: |
            sf org list --all >> text.txt
            sf org login jwt --username ${MEDSLEUTHINC_USERNAME} --jwt-key-file .github/jwt/server.key --client-id ${MEDSLEUTHINC_CONSUMER_KEY} -a devhub-org -d
            if grep "qa" text.txt
            then
                echo "scratch org exists"
            else
                echo "scratch org does not exist & creating new one"
#                sf org create scratch -f config/project-scratch-def.json --client-id ${MEDSLEUTHINC_CONSUMER_KEY} -a qa-org -d --no-namespace --duration-days 1
            fi
#     - name: Send mail
#       if: always()
#       uses: dawidd6/action-send-mail@v3
#       with:
#         # mail server settings
#         server_address: smtp.gmail.com
#         server_port: 465
#         # user credentials
#         username: ${{ secrets.EMAIL_USERNAME }}
#         password: ${{ secrets.EMAIL_PASSWORD }}
#         # email subject
#         subject: ${{ github.job }} job of ${{ github.repository }} has ${{ job.status }}
#         # email body as text
#         body: ${{ github.job }} job in worflow ${{ github.workflow }} of ${{ github.repository }} has ${{ job.status }}. Do not merge PR.
#         # comma-separated string, send email to
#         to: nickgor48@gmail.com
#         # from email name
#         from: Yash Gor
