name: Test workflow

# Definition when the workflow should run

on:
  pull_request:
    branches: [ master ]

# Jobs to be executed

jobs:

 environment-setup:
  
    name: environment-setup
    runs-on: ubuntu-latest
    
    steps:
      - name: 'Run shell commands'
        run: |
            echo "hello world from test branch"
      - name: 'Checkout source code'
        uses: actions/checkout@v3
      - name: 'Install Salesforce CLI'
        run: |
            wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
            mkdir ~/sfdx
            tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
            export PATH=~/sfdx/bin:$PATH
            echo 'PATH=~/sfdx/bin:$PATH' >> ~/.bash_profile
            cat ~/.bash_profile
            sfdx --version
      - name: 'check version'
        run: |
            export PATH=~/sfdx/bin:$PATH
            sfdx --version
      - name: 'check commands'
        run: |
            sfdx commands
 test-job:
    name: test-job
    runs-on: ubuntu-latest
    
    steps:
      - name: 'Run shell commands'
        run: |
            sfdx --version
