name: Test workflow

# Definition when the workflow should run

on:
  workflow_dispatch:

# Jobs to be executed

jobs:

 environment-setup:
  
    name: environment-setup
    runs-on: ubuntu-latest
    
    steps:
      - name: 'Run shell commands'
        run: |
            echo "hello world"
      - name: 'Checkout source code'
        uses: actions/checkout@v3
      - name: 'Install Salesforce CLI'
        run: | 
            npm -v
      - name: 'check version'
        run: |
            cd ~
            sfdx --version
      - name: 'check commands'
        run: |
            cd ~
            sudo sfdx commands
#     - name: Send mail
#       if: always()
#       uses: dawidd6/action-send-mail@v3
#       with:
#         # mail server settings
#         server_address: smtp.gmail.com
#         server_port: 465
#         # user credentials
#         username: ${{ secrets.EMAIL_USERNAME }}
#         password: ${{ secrets.EMAIL_PASSWORD }}
#         # email subject
#         subject: ${{ github.job }} job of ${{ github.repository }} has ${{ job.status }}
#         # email body as text
#         body: ${{ github.job }} job in worflow ${{ github.workflow }} of ${{ github.repository }} has ${{ job.status }}. Do not merge PR.
#         # comma-separated string, send email to
#         to: nickgor48@gmail.com
#         # from email name
#         from: Yash Gor
